Using curl - POST request made when following 302 redirect from POST request

The title doesn't make this sound like it should be an issue - Buzz is conforming to the standards. But, the behaviour does not reflect what real browsers do; all major browsers currently change the method from POST to GET. Since the class is called Browser, do you think it should reflect the behaviour of a real browser?

From RFC2616 - http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

```
  Note: RFC 1945 and RFC 2068 specify that the client is not allowed
  to change the method on the redirected request.  However, most
  existing user agent implementations treat 302 as if it were a 303
  response, performing a GET on the Location field-value regardless
  of the original request method. The status codes 303 and 307 have
  been added for servers that wish to make unambiguously clear which
  kind of reaction is expected of the client.
```

Curl performs like a browser by default - if configured to follow redirects, it will use a GET for a 302 on a POST - but since CURLOPT_CUSTOMREQUEST is set in AbstractCurl.php this behaviour is changed.


Closing this since it is super old. 
